html {
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	height: 100%;
}
body {
	height: 100%;
	box-sizing: border-box;
	margin: 0;
}
.ex-elems > * {
	background-color: black;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	touch-action: none;
}
.ex-elems {
	height: 100%;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	overflow: hidden;
}