html {
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.img-holder {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: center;
	width: 100%;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: #020;
		color: white
	}
}
@media (prefers-color-scheme: light) {
	html {
		background-color: #dfd;
		color: black
	}
}