html {
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.img-holder {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.img-holder > * {
	width: 33%;
}
@media only screen and (max-width: 900px) {
	.img-holder {
		flex-direction: column;
	}
	.img-holder > * {
		width: 100%;
	}
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: #020;
		color: white
	}
}
@media (prefers-color-scheme: light) {
	html {
		background-color: #dfd;
		color: white
	}
}