html {
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	height: 100%;
}
body {
	height: 100%;
	margin-top: 0;
}
h1 {
	margin: 0;
}
code-box {
	height: 80%;
}