html {
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	background-color: rgb(32, 32, 32);
	touch-action: none;
	height: 100%;
}
body {
	height: 100%;
}
canvas {
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE  */
	z-index: -1;
}
.glass {
	margin: max(10px, 20%);
	padding: 10px;
	z-index: 10;
	border-radius: 5px;
	background-color: hsla(266, 63%, 26%, .2);
	color: hsl(266, 100%, 85%);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
}