html {
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
smooth-placeholder-input {
	font-size: 1em;
	border: solid 3px #ccc;
	width: 200px;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 1em;
	box-sizing: border-box;
	transition: all 0.2s ease-in-out;
}
smooth-placeholder-input.focus {
	border: solid 3px #77f;
}
smooth-placeholder-input .placeholder {
	color: #ccc;
}
smooth-placeholder-input.focus .placeholder {
	color: #ccc;
}