html {
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	height: 100%;
}
body {
	margin: 0;
	height: 100%;
}
.container {
	height: 100%;
	display: flex;
	min-width: 100%;
}
.right {
	padding: 10px;
	color: white;
	display: flex;
	width: 50%;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
	background-color: #77f;
	overflow: auto;
	max-height: 100%;
}
.right p {
	padding: 0;
	color: #eef;
	font-size: 1.5em;
}
.right h1 {
	text-align: center;
}
@media screen and (max-width: 900px) {
	.container {
		flex-wrap: wrap;
		height: max-content;
	}
	form {
		width: 100%;
	}
	.right {
		width: 100%;
		box-sizing: border-box;
	}
}
modal-codebox {
	color: #446;
	width: 75%;
	max-height: 80vh;
	--bright: #bbf !important;
	--medium: #ccf !important;
	--medium-bright: #aaf !important;
}
code-box {
	width: 100%;
}
.invis {
	background-color: transparent;
}
.invis smooth-placeholder-input {
	font-size: 2em;
}
.invis smooth-placeholder-input.focus {
	border: solid 3px #C7A2E8;
}
.invis smooth-placeholder-input:hover {
	color: #FFB3FA;
}
.invis .smooth-placeholder-input-placeholder {
	color: #FFB3FA;
}
.invis smooth-placeholder-input.focus .smooth-placeholder-input-placeholder,
.invis smooth-placeholder-input.is-filled .smooth-placeholder-input-placeholder {
	color: #ccc;
}
.invis smooth-placeholder-input input {
	color: #eef;
}